
body {

}

#left{
float: left;
position: fixed;
padding: 20px;
}
#middle{
float: left;
}
#right{
float: left;
}
#left,#middle,#right{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
	color: #777777;
	font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
h1{
	color: #4aaaa5;
	background-color: #cccccc
}


#content{


}














